.cabecalho {
  background: #f9f9f9;
  padding-right: 2rem;
  padding-left: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 0) {
  .cabecalho {
    padding: 0 1rem;
    justify-content: center;
  }
  
}

@media screen and (min-width: 768px) {
  .cabecalho {
    padding: 0 5rem;
    justify-content: space-between;
  }
}